//
   Created by rob on 23/03/16.


extends ../node_modules/jade-bootstrap/_bootstrap

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='stylesheets/style.css')

    block body
        +navbar("Colenso Project", "dropdown_menu")
            +nav_item("/") Home
            +nav_item("/searchpage","active") Documents
        + img-responsive-center("images/logo.jpg","Responsive Image")
        .container
            h1 #{title}
            .container
            p Welcome to #{title}. Home of historical documents.

            +nav-tabs-justified([{text:"Search",href:"/searchpage"},{text:"Submit",href:"/submit"},{text:"Edit",href:"/edit"}],2)
            br
            br
            br
            h1 Historical Document Editor
            p  Here you can enter load the xml from an existing document and update it!
            div.searchPlace
                form(id = 'loadbox', name ='load', action='/loadfile', method='GET')
                    +input("text","text", "Enter file name here", "Filename", value = "name")
                    +submit("Load File To Edit")
                    br

                form(id='submitchanges', name = 'submitchanges', action='/submitchanges', method= 'POST')
                    - loadedfile;
                    br
                    input(type='hidden',name="file", value = '#{loadedfile}')
                    Currently Editing: !{loadedfile}
                    textarea(id = 'myTextArea', name = 'text', style= "min-width:300px; height:400px; width:100%")
                        !{content}

                    +submit("Submit Changes to File")


        div.bottom
            link(rel='stylesheet', href='stylesheets/style2.css')
            .col-md-3
                ul#listings
                    li this is
                    li stuff that
                    li i want to
                    li write
            .col-md-3


            .col-md-3
                p some more text

