//
   Created by rob on 23/03/16.


extends ../node_modules/jade-bootstrap/_bootstrap

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='stylesheets/style.css')

    block body
        +navbar("Colenso Project", "dropdown_menu")
            +nav_item("/") Home
            +nav_item("/searchpage","active") Documents
        .container
            .row
                .col-md-4
                    p
                .co-md-3
                    div.picture
                        a(href="/")
                            img(src="images/logo.jpg")

                    div.minititle
                        h2 A celebration of his life and ideas

            .container
                h1 Document Database
                .container
                p Welcome to the #{title}. Home of historical documents.

            +nav-tabs-justified([{text:"Search",href:"/searchpage"},{text:"Submit",href:"/submit"},{text:"Edit",href:"/edit"}],2)
            br
            br
            br
            h1 Historical Document Editor
            p  Here you can enter load the XML from an existing document and update it!
            br
            brn
            div.searchPlace
                form(id = 'loadbox', name ='load', action='/loadfile', method='GET')
                    +input("text","text", "Enter file name here", "Filename - root directory 'Colenso_TEIs/' is included", value = "name")
                    +submit("Load File To Edit")
                    br

                form(id='submitchanges', name = 'submitchanges', action='/submitchanges', method= 'POST')
                    - loadedfile;
                    br
                    input(type='hidden',name="file", value = '#{loadedfile}')
                    input(type='hidden',name="status", value = '#{status}')
                    Currently Editing: !{loadedfile}
                    p Status : #{status}
                    textarea(id = 'myTextArea', name = 'text', style= "min-width:300px; height:400px; width:100%")
                        !{content}

                    +submit("Submit Changes to File")


        div.bottom
            link(rel='stylesheet', href='stylesheets/style2.css')
            .col-md-4

            .col-md-2
                ul#listings
                    li about
                    li colenso project
                    li biography
                    li museum & art gallery
                    li collections
                    li image gallery
            .col-md-2
                li project team
                li william colenso biography
                li bicentenary
                li partners
                li speakers
                li programme


