extends ../node_modules/jade-bootstrap/_bootstrap

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='stylesheets/style.css')

    block body
          +navbar("Colenso Project", "dropdown_menu")
            +nav_item("/") Home
            +nav_item("/searchpage","active") Documents
          + img-responsive-center("images/logo.jpg","Responsive Image")
          .container
            h1 #{title}
            .container
            p Welcome to #{title}. Home of historical documents.


                +nav-tabs-justified([{text:"Search",href:"/searchpage"},{text:"Submit",href:"/submit"},{text:"Edit",href:"/edit"}],0)
                br
                br
                br
                div.row
                    div.col-md-7
                        form(id = 'searchbox', name ='search', action='/search', method='GET')
                            .row
                                .col-md-3
                                    input(type="radio", name="query", value="standard",checked)
                                    p Standard Search
                                    input(type="radio", name="query", value="jquery")
                                    p JQUERY search

                                .col-md-9
                                    +input("text","text","Search","Search", value = "search", length=150)
                                    +submit("Search")
                    div.col-md-2

                    div.col-md-3
                        p Popular Searches:
                        ol#popularsearches
                            li #{popular1}
                            li #{popular2}
                            li #{popular3}
                            li #{popular4}
                            li #{popular5}
                br
                br
                p #{xmlstuff}




          div.bottom
                link(rel='stylesheet', href='stylesheets/style2.css')
                .col-md-3
                    ul#listings
                        li this is
                        li stuff that
                        li i want to
                        li write
                .col-md-3


                .col-md-3
                    p some more text

