extends ../node_modules/jade-bootstrap/_bootstrap

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='stylesheets/style.css')

    block body
          +navbar("Colenso Project", "dropdown_menu")
            +nav_item("/") Home
            +nav_item("/searchpage","active") Documents
          + img-responsive-center("images/logo.jpg","Responsive Image")
          .container
            h1 #{title}
            .container
            p Welcome to #{title}. Home of historical documents.

            if test
                +tab-list(["Search", "Submit"],0)


                        +tab("Search",  "active")
                            h1 Document Search
                            p This is the tab for searching documents
                            div.row
                                div.col-md-3
                                    form(id = 'searchbox', name ='search', action='/search', method='GET')
                                        +input("text","text","Search","Search", value = "search")
                                        p #{submissionmessage}
                            p #{xmlstuff}

                        +tab("Submit")
                            h1 Historical Document Submission
                            p  Here you can enter the XML for a new document and add it to our database!
                            form(id = 'submitbox', name ='submit', action='/submit', method='POST')
                                +input("text","text", "Enter file name here", "Filename", value = "name")
                                +input("text","text","Enter text here","Content", value = "Submit")
                                +submit("Submit")
            else
                +tab-list(["Search", "Submit"],0)


                    +tab("Search")
                        h1 Document Search
                        p This is the tab for searching documents
                        div.row
                            div.col-md-3
                                form(id = 'searchbox', name ='search', action='/search', method='GET')
                                    +input("text","text","Search","Search", value = "search")
                                    p #{submissionmessage}
                        p #{xmlstuff}

                    +tab("Submit", "active")
                        h1 Historical Document Submission
                        p  Here you can enter the XML for a new document and add it to our database!
                        form(id = 'submitbox', name ='submit', action='/submit', method='POST')
                            +input("text","text", "Enter file name here", "Filename", value = "name")
                            +input("text","text","Enter text here","Content", value = "Submit")
                            +submit("Submit")
                        p #{message}

          div.bottom
                link(rel='stylesheet', href='stylesheets/style2.css')
                .col-md-3
                    ul#listings
                        li this is
                        li stuff that
                        li i want to
                        li write
                .col-md-3


                .col-md-3
                    p some more text

