//
   Created by rob on 16/03/16.

extends ../node_modules/jade-bootstrap/_bootstrap

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='stylesheets/style.css')

    block body
        link(rel='stylesheet', href='stylesheets/style.css')
        +navbar("Colenso Project", "dropdown_menu")
            +nav_item("/") Home
            +nav_item("/searchpage","active") Documents

        .container
            .row
                .col-md-4
                    p
                .co-md-3
                    div.picture
                        a(href="/")
                            img(src="images/logo.jpg")

                    div.minititle
                        h2 A celebration of his life and ideas

            .container
                h1 Document Database
                .container
                p Welcome to the #{title}. Home of historical documents.


            +nav-tabs-justified([{text:"Search",href:"/searchpage"},{text:"Submit",href:"/submit"},{text:"Edit",href:"/edit"}],1)
            br
            br
            br
            h1 Historical Document Submission
            p  Here you can enter the XML for a new document and add it to our database!
            br

            div.searchPlace
                div.infotext
                    p #{message}
                form(id = 'submitbox', name ='submit', action='/submit', method='POST')
                    +input("text","text", "Enter file name here", "Filename - root directory 'Colenso_TEIs/' is included", value = "name") !{contentname}
                    +submit("Submit New XML File")
                    br
                    textarea(id = 'myTextArea', name = 'text', style= "min-width:300px; height:400px; width:100%", value="myContent", form = 'submitbox') !{content}


        div.bottom
            link(rel='stylesheet', href='stylesheets/style2.css')
            .col-md-4

            .col-md-2
                ul#listings
                    li about
                    li colenso project
                    li biography
                    li museum & art gallery
                    li collections
                    li image gallery
            .col-md-2
                li project team
                li william colenso biography
                li bicentenary
                li partners
                li speakers
                li programme


